export(createPDFfromEPS)
export(createPlotScript.GMT4)
export(createPlotScript.GMT5)
export(gridCSV)
export(plotMap.CSV)
importFrom(wtsPlotUtils,computeTickInterval)
importFrom(wtsUtilities,getCSV)
importFrom(wtsUtilities,getOperatingSystem)
