export(computeTickInterval)
export(createPDFfromEPS)
export(createPlotScript.GMT4)
export(createPlotScript.GMT5)
export(getOperatingSystem)
export(gridCSV)
export(plotMap.CSV)
importFrom(wtsUtilities,getCSV)
