export(calcZScale)
export(createPDF.fromEPS)
export(createPDF.fromPS)
export(createPlotScript.GMT4)
export(createPlotScript.GMT5)
export(gridCSV)
export(plotMap.CSV)
importFrom(wtsUtilities,computeTickInterval)
importFrom(wtsUtilities,getCSV)
importFrom(wtsUtilities,getOperatingSystem)
